body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
}
h1{
    color: lightblue;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1em;
    letter-spacing: .3em;
}
.keyboard{
    display: flex;
    flex-direction: column;
}
.row{
    list-style: none;
    display: flex;
    margin: 0;
}
li{
    height: 3em;
    width: 3em;
   color: #000;
   border-radius: .4em;
   line-height: 3em;
   letter-spacing: 1px;
   margin: .4em;
   transition: .3s;
   text-align: center;
   font-size: 1em;
}
#tab{
    width: 5em;
}
#caps{
    width: 6em;
}
#leftShift{
    width: 8em;
}
#enter{
    width: 6em;
}
#rightShift{
    width: 8em;
}
#back{
    width: 5em;
}
.side{
    background: rgb(12, 234, 241);
    border: 2px solid rgb(12, 234, 241);
}
.side.selcted{
    color:rgb(12, 234, 241);
}
.middle{
    background-color: rgb(148, 45, 207);
    border: 2px solid rgb(148, 45, 207);
}
.middle.selected{
    color:  rgb(148, 45, 207);
}
.fill-out-key{
    background-color: lightslategray;
}
.selected{
    background-color: transparent;
    animation: vibrate-1 0.3s linear infinte both;
}
.hit{
    animation: hit 0.3s cubic-bezier(0.390,0.575,0.565,1.000) both;
}
@keyframes hit{
    0%{
        transform:scale(1.2);
    }
    100%{
        transform: scale(1)
    }
}
@keyframes vibrate-1{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(-2px,2px);
    }
    40%{
        transform: translate(-2px,-2px);
    }
    60%{
        transform: translate(2px,2px);
    }
    80%{
        transform: translate(2px,-2px);
    }
    100%{
        transform: translate(0);
    }
}